.pro-box{
height: 300px;
align-items: center;
display: flex;
flex-direction: column;
border-radius: 10px;
  box-shadow: 5px 10px 18px #cdcdcd;
justify-content: center;
margin-bottom: 30px;
}
.pro-image{
  
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.produ-head{
    margin: 20px;
    color: #670302;
    border-bottom: 4px solid grey;
    padding-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
}